@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-family-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}


@layer base {
  body {
    @apply bg-gray-50 text-gray-800;
    overflow: hidden;
  }
}

@layer components {
  .sidebar-link {
    @apply flex items-center gap-3 px-4 py-3 text-gray-600 hover:bg-blue-50 hover:text-blue-600 rounded-lg transition-colors;
  }

  .sidebar-link.active {
    @apply bg-blue-50 text-blue-600;
  }

  .stat-card {
    @apply bg-white rounded-xl p-6 shadow-sm border border-gray-100;
  }

  .chart-container {
    @apply bg-white rounded-xl p-6 shadow-sm border border-gray-100;
  }
  
  .btn-primary {
    @apply bg-blue-600 text-white px-4 py-2 rounded-lg hover:bg-blue-700 transition-colors;
  }
  
  .btn-outline {
    @apply border border-gray-300 text-gray-700 px-4 py-2 rounded-lg hover:bg-gray-50 transition-colors;
  }

  button{
    cursor: pointer;
  }
}